.cardcontainer{
    display: grid;
    justify-content: center;
    margin: 40px;
    width: 192px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);
    cursor: pointer;
    background-color: #FFEEF4;
}
.cardcontainer:hover{
    box-shadow: 0 0 3px hsla(260, 100%, 70%, 0.7)
}

.cardcontainer img {
    grid-column: 1;
    grid-row: 2;
    width: 192px;
    border-top: solid 1px rgb(0,0,0,0.1);
    border-bottom: solid 1px rgb(0,0,0,0.1);
}

.name{
    grid-row: 1;
    grid-column: 1;
    font-size: large;
    margin: 0;
    margin-left: 10px;
    overflow-wrap: normal;
}

.continent{
    grid-row: 3;
    grid-column: 1;
    font-size: larger;
    margin: 0px;
    margin-left: 10px;
}

.detail{
    color: antiquewhite;
}
