.delete{
    block-size: 25px;
    margin-left: 40px;
    cursor: pointer;
}

.list{
    display: flex;
    align-items: center;
    margin: 3px;
}

.listCon{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.formContainer{
    margin: 10px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 39%;
    justify-self: end;
    background: #AEC3AE;
    opacity: 0;
    transform: translateX(103%);
    box-shadow: 0px 10px 10px rgb(0,0,0,.3);
    transition: transform 0.5s cubic-bezier(0, 0, 1, 1);
    border-radius: 10px;
    height: -webkit-fill-available;
}

.slideIn{
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0, 0, 1, 1);
}

.title{
    justify-self: center;
}

.labelContainer{
    display: grid;
    grid-row-gap: 20px;
}

.label{
    grid-column: 1;
}
.input{
    grid-column: 2;
}
.selectCountries{
    justify-self: end;
    width: 80%;
    grid-column: 2;
    height: fit-content;
}
.error{
    grid-column: 2;
    color: red;
}

.labelBox{
    display: grid;
    justify-items: stretch;
    justify-content: space-between;
}
.button{
    grid-column: 3;
}